body {
  background-color: purple;
  background-image: url(33e0595f377a6e547d73cd1e28cd00e4.png);
  background-repeat: false; }

.botao {
  background-color: gold;
  color: #a84949;
  font-size: 1.9em; }

